:root {
    --polygon-size: 50px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.canvas {
    display: grid;
    grid-template: repeat(10, var(--polygon-size)) / repeat(
            10,
            var(--polygon-size)
        );
    justify-content: center;
    margin: var(--polygon-size) 0px;
}
.canvas-block {
    border: darkblue solid 1px;
}
